<header>
  <h1>
    Ordrr
  </h1>
  <div class="right-button" {{action 'manage'}}>
    Manage
  </div>
</header>

<div id="main" class="orders-list">
  <div id="scrollable">
    <div class="content-padded">
      <button {{action 'create'}}>
        Place Order
      </button>
    </div>
    <div class="content-padded">
      <h2>
        Ready - Come and get em!
      </h2>
      <p>
        Tap on your order to mark it as picked up.
      </p>
    </div>
    <ul class="ui-table-view border-top">
      {{#each readyOrders}}
        <li {{action 'pickUp' this}}>
          <p>
            {{description}}
            <span class="right">
              for {{receiver}}
            </span>
          </p>
        </li>
      {{else}}
        <li>
          <p>
            No orders are ready yet. Be patient!
          </p>
        </li>
      {{/each}}
    </ul>

    {{#if pendingOrders.length}}
      <div class="content-padded">
        <h2>
          Pending Orders
        </h2>
        <p>
          Your order has been received and should be ready soon.
        </p>
      </div>
      <ul class="ui-table-view border-top">
        {{#each pendingOrders}}
          <li>
            <p>
              {{description}}
              <span class="right">
                for {{receiver}}
              </span>
            </p>
          </li>
        {{else}}
          <li>
            <p>
              No orders are ready yet. Be patient!
            </p>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
